body {
  background: url(../../assets/blue-space-stars-background-night-sky-vector-21474235.webp.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 40px;
  text-decoration: none;
  font-family: 'Dans Disney Font', sans-serif;
  font-size: 33px;
  text-align: center;
  color: #62d7e9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

@font-face {
  font-family: 'Dans Disney Font';
  src: url('../../assets/DansDisney-3nJ8.ttf ') format('truetype');
}

h1 {
  font-family: 'Dans Disney Font', sans-serif;
  font-size: 80px;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, #75f5f7, #ba06f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  margin-top: 20px;
  animation: glow 2s infinite;
≈

  @keyframes glow {
    0% {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    50% {
      text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
    }
    100% {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

@media (max-width: 767px) {
  body {
    font-size: 24px;
    margin: 20px;
  }

  h1 {
    font-size: 60px;
    margin-top: 10px;
  }
}

@media (max-width: 479px) {
  body {
    font-size: 18px;
    margin: 10px;
  }

  h1 {
    font-size: 40px;
    margin-top: 5px;
  }
}