body {
  /* background: linear-gradient(to bottom, #2574f3, #fff); */
  background: url(../../assets/blue-space-stars-background-night-sky-vector-21474235.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}
@font-face {
  font-family: 'Dans Disney Font';
  src: url('../../assets/DansDisney-3nJ8.ttf ') format('truetype');
}

body {
    font-family: 'Dans Disney Font', sans-serif;
    font-size: 33px;
    text-align: center;
    color:aqua
}


h1 {
  font-family: 'Dans Disney Font', sans-serif;
  font-size: 67px;
  color:aqua
}