body {
  background: linear-gradient(to bottom, #2574f3, #fff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@font-face {
  font-family: 'Dans Disney Font';
  src: url('../../assets/DansDisney-3nJ8.ttf ') format('truetype');
}

body {
    font-family: 'Dans Disney Font', sans-serif;
    font-size: 33px;
    text-align: center;
}

h1 {
  font-family: 'Dans Disney Font', sans-serif;
  font-size: 50px;
  color: #000;
}