.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17em;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(90, 107, 130, 0.8), rgba(5, 40, 106, 0.8));
  transition: transform 0.3s ease;
}

.fav-btn {
  background-color: transparent;
  border: none;
  font-size: 36px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fav-btn:focus {
  outline: none;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 3px;
  font-size: 55px;
  color: #f2f7f7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

.img {
  border-radius: 10px;
}


/* Media Query for screens smaller than 768px */
@media (max-width: 767px) {
  .card {
    height: 17em;
  }

  .card h3 {
    font-size: 40px;
  }
}

/* Media Query for screens smaller than 480px */
@media (max-width: 479px) {
  .card {
    height: 25em;
  }

  .card h3 {
    font-size: 30px;
  }
}